.description{
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
}

.generate {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-items: center;
    margin: auto; */
}

.card-outfit{
    width: 160px;
    height: 250px;
    /* margin-top: 20px; */
    border-radius: 12px;
    font-size: 1.2rem;
    margin: 20px;
    color: #000;
    background-color: #C6C5B9;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.card-outfit img {
    margin: auto;
    width: 120px;
}
.card-outfit p {
    bottom: 0;
    /* padding-bottom:10px;  */
    font-size:20px; 
}

/* .portada{
    width: 150px;
    display: flex;
    justify-content: center;
} */

.rbc-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 10px; /* Ajusta el margen según sea necesario */
    /*padding: 0 10px; /* Ajusta el relleno según sea necesario */
    max-width: 1000px;
}

.rbc-toolbar button {
    font-size: 1rem; /* Ajusta el tamaño de fuente según sea necesario */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.rbc-btn-group {
    display: flex;
    align-items: center; 
}

.rbc-btn-group button {
    margin: 0 5px; /* Ajusta el margen entre botones según sea necesario */
}

.rbc-calendar {
    width: 60%;
    display: flex;
    flex-direction: column; /* Cambiado a 'column' para que los botones estén debajo del calendario */
    align-items: center; /* Alineados al centro */
}

.rbc-month-view {
    width: 100%;
    max-width: 1000px; /* Ajusta el ancho máximo según sea necesario */
}


.rbc-row-bg {
    display: flex;
    justify-content: space-between; 
}

.rbc-header {
    flex: 1;
    text-align: center;
    padding: 10px;
    
}

.rbc-day-bg {
    flex: 1;
    /*background: wheat;*/
    text-align: center;
    padding: 10px;
}