.navbar{
    background-color: #ffff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ffff;
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Centramos los elementos horizontalmente */
}

.nav-button {
    /*transition: all 0.3s ease;*/
    /*background-color: transparent;*/
    border: none;
    /*color: white;*/
    cursor: pointer;
    font-size: 1rem;
    /*margin-right: 1rem;*/
    outline: none;
    margin-right: 30px;
}

.nav-button:hover,
.nav-button.active {
    color: #333; /* Cambiar el color cuando se pasa el ratón o cuando está activo */
    font-weight: bold;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f47820;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #e06000;
    color: #ffffff;
}



.animate {
    transform: scale(1.1); /* Cambia la escala del botón para la animación */
}